<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">
        <div class="blocks">
          <button button="submit" mat-raised-button color="primary" (click)="openDialogBox()">
            <mat-icon>add</mat-icon> Nouvel article
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Articles récents</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="date_posted">
                  <mat-header-cell *matHeaderCellDef> Date de publication: </mat-header-cell>
                  <mat-cell *matCellDef="let post"> {{ post.date_posted.toDate() | date: 'dd/MM/yyyy HH:mm' }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
                  <mat-cell *matCellDef="let post"> {{post.title}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="imgURL">
                  <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                  <mat-cell *matCellDef="let post"><img mat-card-image src="{{post.imgURL}}"></mat-cell>
                </ng-container>
                <ng-container matColumnDef="content">
                  <mat-header-cell *matHeaderCellDef> Contenu </mat-header-cell>
                  <mat-cell *matCellDef="let post" class="postContent"> {{post.content}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let post">
                    <a type="button" (click)=deleteBlogPost(post.idPost)>
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>