.card {
  min-width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 1500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 1500px;
}

mat-row {
  height: 100px;
  overflow: hidden;
  align-items: end;
}

a {
  cursor: pointer;
}