<div class="example-container">
  <form class="example-form">
    <p>
      <mat-label>Objet du contact: </mat-label>
      <mat-form-field appearance="outline">
        <input matNativeControl placeholder="Objet du contact" type="text" required name="objet">
      </mat-form-field>
    </p>
    <p>
      <mat-label>Message: </mat-label>
      <mat-form-field appearance="outline">
        <textarea matNativeControl placeholder="Votre message" required name="message"></textarea>
      </mat-form-field>
    </p>
    <button mat-mini-fab color="warn">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>