<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="icon">explore</mat-icon></div>
    <mat-card-title>Présentation</mat-card-title>
    <mat-card-subtitle>Bienvenue sur ce blog Glob-trotteur!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Ce blog a pour vocation de vous donner toutes mes petites astuces de voyage
    <hr>
    Vous trouverez ici des conseils pour:
    <ul>
      <li>La nourriture</li>
      <li>Les visites culturelles</li>
      <li>Les activités</li>
      <li>Se déplacer</li>
      <li>Rencontrer les locaux</li>
    </ul>
    <p>
      Alors, bienvenue sur ce blog, bonne lecture et Bon Voyage!
    </p>
  </mat-card-content>
</mat-card>